s {
   color: #000;
   text-decoration: none;
}
a:hover{
    color: #FC0;
    text-decoration: underline;
}
header{
    background-image: url(anh/logo\ b.png);
    padding-bottom: 30%;
    background-size: 100% 100%;
}
nav{
    color: white;
    font-variant: small-caps;
    background-color: #F80;
    line-height: 15px;
}
.menubutton{
    font-size: 15px;
}
.menubutton ul {
    background: #77F;
    padding: 0px;
    margin: 0px;
    line-height: 45px;
}
.menubutton>ul>span>li{
    display: inline-block;
}
.menubutton ul li {
    padding: 10px 10px 10px 10px;
    position: relative;
}
.menubutton .menuright .search{
    float: right;
    width: 250px;
    height: 30px;
    margin: 5px;
}
.menubutton .icon a {
    float: right;
    margin: 5px;
}
.menubutton .iconhome a{
    float: left;
    margin: 5px;
    padding: 0px 6px;
}
.menubutton .submenu{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 30px;
    left: 0px;
    display: none;
    border-radius: 5px;
    line-height: none;
    width: 180px;
    background: white;
}
.menubutton .submenu a{
    display: block;
    line-height: 20px;
    color: orangered;
    padding: 0 10px;
}
.menubutton .submenu li:hover{
    background: orange;
    border-radius: 5px;
}
.menubutton .submenu li:hover a{
    color: white;
}
.menubutton>ul>span>li:hover>.submenu{
    display: block;
    width: 100px;
}
.lh{
    text-align: left;
    color: black;
    font-size: 16px;}

.footer{
    background-color: darkgoldenrod;
    border: #ccc 1px solid;
    width: 98%;
    margin: 0px auto; 
}
.lspt{
    color: orangered;
    font-size: 40px;
    font-weight: bold;
 
}
